.footer-text {
  margin-right: 70px;

  &_logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &_adress {
    display: block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $primary-white-color;
  }

  &_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $contacts-footer-color;
  }

  &_contacts:not(:last-child) {
    margin-bottom: 9px;
  }
}