.header-contacts {
  display: flex;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  transition: color $main-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts__icon {
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}